@use 'sass:color';
.logo {
  width: 170.814px;
  height: 95.714px;
  padding-top: 33.6px;
  flex-shrink: 0;
}

header {
width: 250px;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
a{
  display: flex;
  align-items: center;
  gap: 23px;
  div{
    padding: 0;
    background-size: cover;
    width: 23px;
    height: 23px;
  }
  text-decoration: none;
  color: $default-color;
  font-weight: 400;
  font-size: 16px;
  &:hover{
    color: $selected-hover;
  }
}
div{
  height: 150px;
  display: flex;
  gap: 61px;
  flex-direction: column;
  justify-content: center;
  width: 170.81px;
  padding: 20px;

 

}

}


.searchSection {
  @include header(25vh);
  gap: 9px;
  input{
    width:400px ;
    height: 40px;
    border-radius: 23px;
    padding: 0;
    border: 0;
    padding-left: 19px;
    @include headerText(14px,14.35px);
    &::placeholder{
      color: $pure-white;
    }
    &:focus{
      outline: none;
    }
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  .searchButton {
    width: 114px;
    height: 40px;
    border-radius: 23px;
    border: 0;
    background-color: $blue-buttons;
    color: $pure-white;
    font-weight: 700;
    font-size: 14px;
    line-height: 14.35px;
    cursor: pointer;
    &:hover{
      background-color: color.scale($blue-buttons, $lightness: 10%);
    }
    &:disabled{
      background-color: color.scale($blue-buttons, $lightness: -20%);
      cursor: not-allowed;
    }
  }


}
.input-container {
  position: relative;
  display: inline-block;
  button {
      &:disabled{
        cursor: not-allowed;
      }
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;    
    img{
      background-size: cover;
      width: 23px;
      height: 23px;
    }
  }
}
.profile {
  flex-direction: row;
  width: 170.81px;
  gap: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  h1 {
    width: 83px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16.4px;
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 19.61px;
  }


}

.albumsSection {
width: 100%;
height: 75vh;
display: flex;
flex-direction: column;
background-color: $less-white;
align-items: center;
justify-content: space-around;
img {
  width: 201px;
  height: 200px;
  border-radius: 10px;


}
a{
  text-decoration: none;
  p{
    color: $album-text;
    text-decoration: none;
    font-weight: 700;
    font-size: 12.07px;
    line-height: 18.1px;
    &:hover{
      color: color.scale($album-text, $lightness: 20%);

    }
  }
}

figcaption {
  color: $album-text;
  font-weight: 400;
  font-size: 9.05px;
  line-height: 13.58px;
}

}

::-webkit-scrollbar {
  width: 10px;
  position: fixed;
}

::-webkit-scrollbar-thumb {
  background-color: $blue-buttons;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: $pure-white;
}
.carousel {
  width: 75vw;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  
  
}

.h2-sect-fav {
  @include header(25vh);
  @include headerText(20px,20.5px);
}

.favorite-section {
  height: 75vh;
  background-color: $less-white;
}

.favorites-box {
  margin: 0 auto;
  height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 64px;
  width: 800px;
}

.songPreview{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 788px;
  height: 62px;
  border-bottom: 0.85px solid $border-color;
  audio{
    width: 371.3px;
    height: 55.95px;
    background-color: $pure-white;
    border-radius: 42.39px;
    padding: 0;

  }

small {
  width: 182px;
  height: 28px;
  color: $song-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 14.35px;
}

}
