@use 'sass:color';
.logo {
  width: 170.814px;
  height: 95.714px;
  padding-top: 33.6px;
  flex-shrink: 0;
}

header {
width: 250px;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
a{
  display: flex;
  align-items: center;
  gap: 23px;
  div{
    padding: 0;
    background-size: cover;
    width: 23px;
    height: 23px;
  }
  text-decoration: none;
  color: $default-color;
  font-weight: 400;
  font-size: 16px;
  &:hover{
    font-weight: 700;
  }
}
div{
  height: 150px;
  display: flex;
  gap: 61px;
  flex-direction: column;
  justify-content: center;
  width: 170.81px;
  padding: 20px;

 

}

}


.searchSection {
  @include header(25vh);
  gap: 9px;
  input{
    width:400px ;
    height: 40px;
    border-radius: 23px;
    padding: 0;
    border: 0;
    padding-left: 19px;
    @include headerText(14px,14.35px);
    &::placeholder{
      color: $pure-white;
    }
    &:focus{
      outline: none;
    }
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  .searchButton {
    width: 114px;
    height: 40px;
    border-radius: 23px;
    border: 0;
    background-color: $blue-buttons;
    color: $pure-white;
    font-weight: 700;
    font-size: 14px;
    line-height: 14.35px;
    cursor: pointer;
    &:hover{
      background-color: color.scale($blue-buttons, $lightness: 10%);
    }
    &:disabled{
      background-color: color.scale($blue-buttons, $lightness: -20%);
      cursor: not-allowed;
    }
  }


}
.input-container {
  position: relative;
  display: inline-block;
  button {
      &:disabled{
        cursor: not-allowed;
      }
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;    
    img{
      background-size: cover;
      width: 23px;
      height: 23px;
    }
  }
}
.profile {
  flex-direction: row;
  width: 170.81px;
  gap: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  h1 {
    width: 83px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16.4px;
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 19.61px;
  }


}

.albumsSection {
width: 100%;
height: 75vh;
display: flex;
flex-direction: column;
background-color: $less-white;
align-items: center;
justify-content: space-around;
img {
  width: 201px;
  height: 200px;
  border-radius: 10px;


}
a{
  text-decoration: none;
  p{
    color: $album-text;
    text-decoration: none;
    font-weight: 700;
    font-size: 12.07px;
    line-height: 18.1px;
    &:hover{
      color: color.scale($album-text, $lightness: 20%);

    }
  }
}

figcaption {
  color: $album-text;
  font-weight: 400;
  font-size: 9.05px;
  line-height: 13.58px;
}

}

::-webkit-scrollbar {
  width: 10px;
  position: fixed;
}

::-webkit-scrollbar-thumb {
  background-color: $blue-buttons;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: $pure-white;
}
.carousel {
  width: 75vw;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  
  
}


.favorite-section {
  height: 75vh;
  background-color: $less-white;
}

.favorites-box , .songs-album-section{
  margin: 0 auto;
  height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 64px;
  width: 800px;
}

.songPreview{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 788px;
  height: 62px;
  border-bottom: 0.85px solid $border-color;
  audio{
    width: 371.3px;
    height: 55.95px;
    background-color: $pure-white;
    border-radius: 42.39px;
    padding: 0;

  }

small {
  width: 182px;
  height: 28px;
  color: $song-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 14.35px;
  display: flex;
  align-items: center;
  }

}



.h2-default-section {
  @include header(25vh);
  @include headerText(20px,20.5px);

}

.profile-section{
  height: 75vh;
  background-color: $less-white;
  position: relative;
  img {
    @include imageOverHeader2(240px, 240px,-120px, 76px,240px );
  }
  a, button {
   @include buttonDefault(152px,40px, 100px); 
  }
  div,  form{
    margin-top: 30px;
    position: absolute;
    left: 352px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2, label {
      color: $album-text;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      display: flex;
      font-weight: 700;
      flex-direction: column;
      small {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
      }

    }
  }
}


.edit-profile {

  .input-image {
    position: absolute;
    left: 95px;
    top: 133px;
    border: 0;
    input {
      width: 192px;
      height: 37px;
      border-radius: 2px;
      border: 1px solid $gray-border;
      font-size: 12px;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0em;
      text-align: center;
      background-color: $less-white;

    }
  }
}


form {
  textarea,input {
    border: 0;
    background-color: $pure-white;
    border-bottom: 1px solid $gray-border;  
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: $album-text;

  }
  small {
    padding-bottom: 6px;
  }
  textarea{
    resize: none;

    width: 490px;
    height: 106px;
  }

  input {
    padding:   8px 0 8px 8px;
    width: 288px;

  }

}

.album-section {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  img {
    @include imageOverHeader2(240px, 240px,-120px, 76px,12px );
  }
}

.album-name {
  h2 {
    color: $pure-white;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  small {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

  }
  position: absolute;
  left: 362px;
  color: $pure-white;
  top: -120px;
}

.songs-album-section {

margin-top: 150px;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../svg/searchBar.svg');
  background-size: cover;
  div {
    background-color: $pure-white;
    width: 750px;
    height: 450px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label { 
      display: flex;
      flex-direction: column;
    }
    img {
      width: 187.19px;
      height: 104.89px;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}

.button-favorite {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 23px;
    height: 23px;
    position: static;
    border-radius: 0;
    box-shadow: -9px 8px 8px 0px rgba(0, 0, 0, 0);
  }
}
