@use 'sass:color';

@mixin header($value) {
  width: 100%;
  background-image: url('../svg/searchBar.svg');
  height: $value;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin headerText($fontSize,$fontHeight) {
  color: $pure-white;
  line-height:$fontHeight ;
  font-size: $fontSize;
  font-weight: 700;
}

@mixin imageOverHeader2($width,$height,$top,$left,$borderRadius) {
    box-shadow: -9px 8px 8px 0px #00000033;
    width: $width;
    position: absolute;
    height: $height;
    border-radius: $borderRadius;
    top: $top;
    left: $left;
}


@mixin buttonDefault($width,$height,$borderRadius)
{
  cursor: pointer;
  text-decoration: none;
  height: $height;
  line-height: 14.35px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: $pure-white;
  width: $width;
  background-color: $blue-text;
  border-radius: $borderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: color.scale($blue-text, $lightness: 10%);
  }
}


